<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">Find out more!</a>
  </div>
  <div class="carousel-item red white-text" href="#one!">
    <h2>Product 1</h2>
    <p class="white-text">Product 1</p>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Product 2</h2>
    <p class="white-text">Product 2</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Product 3</h2>
    <p class="white-text">Product 3</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Product 4</h2>
    <p class="white-text">product 4</p>
  </div>
</div>
