<h1 class='center'>Store</h1>

<div class='row container'>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
    <div class="card col s12 m6 l4 hoverable">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator product-image" src="assets/zach.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Some good weed dude<i class="material-icons right">more_vert</i></span>
        <p>Click here for more info</p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Product Info<i class="material-icons right">close</i></span>
        <p>Buy my weed bruhh</p>
      </div>
    </div>
</div>
