<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="grey-text text-lighten-4">Follow Us on Social Media!</h6>
        <div>
          <a class="grey-text text-lighten-3" href="#!">
            <i class="fa falink fa-instagram fa-5x"></i>
          </a>
          <a class="grey-text text-lighten-3" href="#!">
            <i class="fa falink fa-twitter-square fa-5x"></i>
          </a>
          <a class="grey-text text-lighten-3" href="#!">
            <i class="fa falink fa-facebook-square fa-5x"></i>
          </a>
          <a class="grey-text text-lighten-3" href="#!">
            <i class="fa falink fa-youtube-square fa-5x"></i>
          </a>
        </div>
      </div>
      <div class="col l4 s12">
        <h5 class="white-text">Contact Info</h5>
        <ul>
          <li class="grey-text text-lighten-3">
            <i class="fa facontact fa-phone-square fa-lg"></i><span>801-123-1234</span>
          </li>
          <li class="grey-text text-lighten-3">
            <i class="fa facontact fa-map-marker fa-lg"></i>
            <span>123 S Main Street</span>
            <br/>
            <span style="margin-left: 26px">Salt Lake City, UT 84123</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
